name: ci
on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

jobs:
  check:
    runs-on: ubuntu-latest
    steps:
    - uses: actions/checkout@v2
    - uses: actions/setup-node@v1
        with:
          node-version: 15
    - run: npm install -g @mapbox/node-pre-gyp && npm install
    - run: npm run lint
    - run: npm run build
    - run: npx aegir dep-check
    - uses: ipfs/aegir/actions/bundle-size@master
      name: size
      with:
        github_token: ${{ secrets.GITHUB_TOKEN }}
  test-node:
    needs: check
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest, macos-latest]
        node: [14, 15]
      fail-fast: true
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: ${{ matrix.node }}
      - run: npm install -g @mapbox/node-pre-gyp && npm install
      - run: npx nyc --reporter=lcov aegir test -t node --bail --timeout 60000
      - uses: codecov/codecov-action@v1
  test-chrome:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 15
      - run: npm install -g @mapbox/node-pre-gyp && npm install
      - run: npx aegir test -t browser -t webworker --timeout 10000
  test-firefox:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 15
      - run: npm install -g @mapbox/node-pre-gyp && npm install
      - run: npx aegir test -t browser -t webworker --timeout 10000 -- --browser firefox
  test-electron-main:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 15
      - run: npm install -g @mapbox/node-pre-gyp && npm install
      - run: npx xvfb-maybe aegir test -t electron-main --bail --timeout 10000
  test-electron-renderer:
    needs: check
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v1
        with:
          node-version: 15
      - run: npm install -g @mapbox/node-pre-gyp && npm install
      - run: npx xvfb-maybe aegir test -t electron-renderer --bail --timeout 10000
